@model Storage.App.MVC.Models.SalesPageViewModel;

@{
    ViewData["Title"] = "Vendas - Serviço de estoque e vendas";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create">Cadastrar nova venda</a>
</p>

<section class="page-content">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Anotação
                </th>
                <th>
                    Preço total
                </th>
                <th>
                    Cliente
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sales)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td>
                        <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.Customer.Id">@Html.DisplayFor(modelItem => item.Customer.FirstName)</a>                        
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Editar <i class="fa fa-pencil"></i></a>
                        <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id">Detalhes <i class="fa fa-book"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Excluir <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section class="activity-history">
    <partial name="_ActivityHistory.cshtml" />
</section>
