@model Storage.App.MVC.Models.ProductsPageViewModel;

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create">Cadastrar novo produto</a>
</p>

<section class="page-content">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Custo
                </th>
                <th>
                    Marca
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section class="activity-history">
    <partial name="ActivityHistory.cshtml" />
</section>